.callTransition-appear{opacity:0;-webkit-transform:translateY(-400px);transform:translateY(-400px)}.callTransition-appear.callTransition-appear-active{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);-webkit-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
/*# sourceMappingURL=main.054bfbb9.chunk.css.map */